{% extends 'base.html.twig' %}

{% block title %}Editer une Formation{% endblock %}

{% block body %}
    <h1>Editer une formation</h1>

    {{ include('formation/_form.html.twig') }}

{% endblock %}
